@page "/"

<h3>Standard two-way binding</h3>
<div class="form-group">
	<label>Name = @Name</label>
	<input @bind-value=Name class="form-control" />
	<p>Binding occurs when leaving the input, or when Enter is pressed</p>
</div>

<h3>Two-way binding with bind:event</h3>
<div class="form-group">
	<label>Name = @Name</label>
	<input @bind-value=Name @bind-value:event="oninput" class="form-control" />
	<p>Binding occurs whenever the value in the input changes</p>
</div>

<h3>Two-way binding with format</h3>
<div class="form-group">
	<label>Date of birth = @DateOfBirth?.ToString("MMMM d, yyyy")</label>
	<input @bind-value=DateOfBirth @bind-value:format="yyyy-MM-dd" class="form-control" />
	<p>Binding using the format yyyy-MM-dd</p>
</div>

<h3>Two-way binding with Spanish culture</h3>
<div class="form-group">
	<label>Bank balance = @BankBalance</label>
	<input @bind-value=BankBalance @bind-value:culture=Spanish class="form-control" />
	<p>Spain uses a comma as a decimal separator</p>
</div>


@code
{
  private string Name;
  private DateTime? DateOfBirth;
  private decimal? BankBalance;

  private System.Globalization.CultureInfo Spanish = System.Globalization.CultureInfo.GetCultureInfo("es");
}
