@page "/about"
<h3>About</h3>
This project accompanies the section <a href="https://blazor-university.com/components/cascading-values/cascading-values-by-name/">Cascading values by name</a> on Blazor University