@page "/"

<h1>Toggle the options</h1>
<input @bind-value=FirstOptionValue type="checkbox" /> First option
<br />
<input @bind-value=SecondOptionValue type="checkbox" /> Second option
<br />

<CascadingValue Name="FirstOption" Value=@FirstOptionValue>
	<CascadingValue Name="SecondOption" Value=@SecondOptionValue>
		<FirstLevelComponent />
	</CascadingValue>
</CascadingValue>

@code {
	bool FirstOptionValue;
	bool SecondOptionValue;
}