@page "/"

<h1>Toggle the options</h1>
<input @bind-value=firstOptionValue type="checkbox" /> first option
<br />
<input @bind-value=secondOptionValue type="checkbox" /> first option
<br />

<CascadingValue Name="FirstOption" Value=@firstOptionValue>
	<CascadingValue Name="SecondOption" Value=@secondOptionValue>
		<FirstLevelComponent />
	</CascadingValue>
</CascadingValue>

@code {
	bool firstOptionValue;
	bool secondOptionValue;
}