<div>
	Incrementing...
</div>
@code
{
	[Parameter]
	public bool ShouldUseInvokeAsync { get; set; }

	[Parameter]
	public System.Threading.WaitHandle Trigger { get; set; }

	protected override void OnInitialized()
	{
		new System.Threading.Thread(_ =>
		{
			Trigger.WaitOne();
			for (int i = 0; i < 1000; i++)
			{
				if (!ShouldUseInvokeAsync)
				{
					CounterState.Value++;
				}
				else
				{
					InvokeAsync(() => CounterState.Value++);
				}
			}
		}).Start();
	}
}
