@page "/overridden"

<CascadingValue Name="CascadedValue" Value=@CascadedValue>
	<CascadingValue Name="ValueToOverride" Value=@OuterValue>
		<h2>First level</h2>
		<ViewSomeValue />
		<CascadingValue Name="ValueToOverride" Value=@InnerValue>
			<h2>Second level</h2>
			<ViewSomeValue />
		</CascadingValue>
		<h2>Back to first level</h2>
		<ViewSomeValue />
	</CascadingValue>
</CascadingValue>

@code
{
	string CascadedValue = "CascadedValue";
	string OuterValue = "Outer value";
	string InnerValue = "Inner value";
}