<div class="row" role="img" aria-label=@alt>
	<img src=@src @attributes=@AllOtherAttributes />
</div>

@code
{
	[Parameter] public string src { get; set; }
	[Parameter] public string alt { get; set; }
	[Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> AllOtherAttributes { get; set; }
}