@page "/"
@inherits ComponentLifecyclesPageBase
@using System.Threading

<h1>Look in the browser console output!</h1>

The time now is @Time.ToString("hh:mm:ss")


@code {
	DateTime Time = DateTime.Now;
	Timer Timer;

	protected override void OnInitialized()
	{
		Timer = new System.Threading.Timer(_ => UpdateTheTime(), null, TimeSpan.Zero, TimeSpan.FromSeconds(5));
		base.OnInitialized();
	}

	public override void Dispose()
	{
		Timer.Dispose();
		base.Dispose();
	}

	void UpdateTheTime()
	{
		Time = DateTime.Now;
		Log("StateHasChanged() called from UpdateTheTime");
		StateHasChanged();
	}
}
