@inherits LayoutComponentBase

<div class="main">
	<header>
		<h1>This is the header</h1>
	</header>

	<div class="content">
		@Body
	</div>

	<footer>
		This is the footer
		<p>
			<a href="/about">About this demo</a>
		</p>
	</footer>
</div>