@page "/"

<h1>Replacing child attributes</h1>
<ChildComponent first="consumer-value-1" second="consumer-value-2" third="consumer-value-3" fourth="consumer-value-4" inserted1="inserted-value-1" inserted2="inserted-value-2"/>
