<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">L.E.D.</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="/literals" Match="NavLinkMatch.All">
				<span class="oi oi-account-login" aria-hidden="true"></span>Literals
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="/expressions/" Match="NavLinkMatch.Prefix">
				<span class="oi oi-calculator" aria-hidden="true"></span>Expressions
			</NavLink>
			<ul class="nav flex-column">
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="/expressions" Match="NavLinkMatch.All">
						<span class="oi oi-calculator" aria-hidden="true"></span>Simple
					</NavLink>
				</li>
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="/expressions/complex-types" Match="NavLinkMatch.All">
						<span class="oi oi-calculator" aria-hidden="true"></span>Objects
					</NavLink>
				</li>
			</ul>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="/directives" Match="NavLinkMatch.All">
				<span class="oi oi-flash" aria-hidden="true"></span>Directives
			</NavLink>
		</li>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
