<h3>ThirdLevelComponent</h3>

<ul>
	<li>
		FirstOption = @FirstOption
	</li>
	<li>
		SecondOption = @SecondOption
	</li>
</ul>

@code {
	[Parameter]
	public bool FirstOption { get; set; }

	[Parameter]
	public bool SecondOption { get; set; }
}
