@page "/"

<FadeIn Duration=3 AnimationStarted=HeaderAnimationStarted AnimationEnded=HeaderAnimationEnded>
	<h1>Hello, world!</h1>
	Status: @Status
</FadeIn>

@code {
	string Status;

	private void HeaderAnimationStarted(string animationName)
	{
		Status = "Started animation: " + animationName;
	}

	private void HeaderAnimationEnded(string animationName)
	{
		Status = "Ended animation: " + animationName;
	}
}