@page "/"

<FadeIn Duration=1>
	<h1>Hello, world!</h1>
</FadeIn>

<FadeIn Duration=2>
	Welcome to your new app.
</FadeIn>

<FadeIn Duration=3>
	<p>
		The text here will fade in over a duration of 3 seconds, refresh the page if you missed it!
	</p>
</FadeIn>