@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<FadeIn Duration=1>
    <p>
        The text here will fade in over a duration of 1 second, refresh the page if you missed it!
    </p>
</FadeIn>