<div class="row">
	@if (!IsPersonal || !UserPreferences.ViewAnonymizedData)
	{
		<div class="col-6">Address</div>
		<pre class="col-6">@Address.Lines</pre>
		<label class="col-6">Area</label>
		<div class="col-6">@Address.Area</div>
	}
	<label class="col-6">Postal code</label>
	<div class="col-6">@Address.PostalCode</div>
	<label class="col-6">Country</label>
	<div class="col-6">@Address.Country</div>
</div>

@code
{
	[CascadingParameter]
	public UserPreferences UserPreferences { get; set; }

	[Parameter]
	public bool IsPersonal { get; set; }

	[Parameter]
	public Address Address { get; set; }
}
