<div class="card float-left" style="width: 25em;">
	<div class="card-body">
		<div class="card-title"><h4>Application</h4></div>
		<div class="card-text">
			<div class="row">
				<label class="col-6">Application date</label>
				<div class="col-6">@Application.Date.ToString(UserPreferences.DateFormat)</div>
			</div>
			<div class="row">
				<label class="col-12">Text</label>
				<pre class="col-12">@Application.Text</pre>
			</div>
			<ViewCandidate Candidate=@Application.Candidate />
		</div>
	</div>
</div>

@code
{
	[CascadingParameter]
	private UserPreferences UserPreferences { get; set; }

	[Parameter]
	public Application Application { get; set; }
}
