<div style="border: 1px solid black; padding: 1em" class="clearfix">
	<h3>@Vacancy.Title</h3>
	<div class="row">
		<div class="col-6">Closing date</div>
		<div class="col-6">@Vacancy.ClosingDate.ToString(UserPreferences.DateFormat)</div>
	</div>
	<ViewAddress Address="@Vacancy.Address" />
	<hr />
	<h4>Applications</h4>
	@foreach (Application application in Vacancy.Applications)
	{
		<ViewApplication Application="@application" />
	}
</div>

@code
{
	[CascadingParameter] public UserPreferences UserPreferences { get; set; }
	[Parameter] public Vacancy Vacancy { get; set; }
}
