@page "/about"
<h3>About</h3>
This project accompanies the section <a href="https://blazor-university.com/templating-components-with-renderfragements/passing-placeholders-to-renderfragments/">Passing placeholders to RenderFragments</a> on Blazor University