@page "/"
@page "/counter/{CurrentCount:int}"
@inherits CounterBase

<h1>Counter value = @CurrentCount</h1>

<div class="form-check">
	<input @bind=@forceLoad type="checkbox" class="form-check-input" id="ForceLoadCheckbox"/>
	<label class="form-check-label" for="ForceLoadCheckbox">Force page reload on navigate</label>
</div>

<div class="btn-group" role="group">
	<button @onclick=@( () => AlterBy(-1) ) class="btn btn-primary">-</button>
	<input value=@CurrentCount readonly class="form-control" />
	<button @onclick=@( () => AlterBy(1) ) class="btn btn-primary">+</button>
</div>
<a href="/Counter/0">Reset</a>

@code {
	[Parameter] int CurrentCount { get; set; }

	bool forceLoad;

	void AlterBy(int adjustment)
	{
		int newCount = CurrentCount + adjustment;

		if (newCount > 5)
			UriHelper.NavigateTo("https://ibm.com");

		UriHelper.NavigateTo("/counter/" + newCount, forceLoad);
	}
}
