<div>Values are @SomeValue1 / @SomeValue2</div>

@code
{
	[CascadingParameter(Name = "CascadedValue")]
	private string SomeValue1 { get; set; }

	[CascadingParameter(Name = "ValueToOverride")]
	private string SomeValue2 { get; set; }
}