@page "/about"
<h3>About</h3>
This project accompanies the section <a href="https://blazor-university.com/components/render-trees/incremental-rendertree-proof/">Incremental RenderTree proof</a> on Blazor University