@page "/about"
<h3>About</h3>
This project accompanies the section <strong>Calling static .NET methods</strong> on
<a href="https://blazor-university.com/javascript-interop/calling-dotnet-from-javascript/calling-static-dotnet-methods/">Blazor-University.com</a>