@page "/about"
<h3>About</h3>
This project accompanies the section <a href="https://blazor-university.com/javascript-interop/calling-dotnet-from-javascript/calling-static-dotnet-methods/">Calling static .NET methods</a> on Blazor University