@page "/correct-approach"

<p>This code does exactly what we need. Right-click and Inspect Element to see.</p>

<div @attributes=MyCodeGeneratedAttributes />

@code
{
	Dictionary<string, object> MyCodeGeneratedAttributes;

	protected override void OnInitialized()
	{
		MyCodeGeneratedAttributes = new Dictionary<string, object>();
		for (int index = 1; index <= 5; index++)
		{
			MyCodeGeneratedAttributes["attribute_" + index] = index;
		}
	}
}