@page "/about"
<h3>About</h3>
This project accompanies the section <strong>Lifetimes and memory leaks</strong> on
<a href="https://blazor-university.com/javascript-interop/calling-dotnet-from-javascript/lifetimes-and-memory-leaks/">Blazor-University.com</a>