@page "/about"
<h3>About</h3>
This project accompanies the section <a href="https://blazor-university.com/javascript-interop/calling-dotnet-from-javascript/lifetimes-and-memory-leaks/">Lifetimes and memory leaks</a> on Blazor University