@page "/"
@inject IJSRuntime JSRuntime

<button @onclick=ButtonClicked>Perform interop</button>
<p>
	<a href="/about">About this demo</a>
</p>

@code
{
	private async Task ButtonClicked()
	{
		await JSRuntime.InvokeVoidAsync("alert", "Hello world");
	}
}
