@inherits OwningComponentBase
@using Microsoft.Extensions.DependencyInjection


<div>
	OwnedDependency1.InstanceNumber = @OwnedDependency1.InstanceNumber
</div>
<div>
	OwnedDependency2.InstanceNumber = @OwnedDependency2.InstanceNumber
</div>

@code
{
	private IOwnedDependency1 OwnedDependency1;
	private IOwnedDependency2 OwnedDependency2;

	public MyOwningComponent()
	{
		System.Diagnostics.Debug.WriteLine("Created MyOwningComponent");
	}

	protected override void OnInitialized()
	{
		OwnedDependency1 = ScopedServices.GetService<IOwnedDependency1>();
		OwnedDependency2 = ScopedServices.GetService<IOwnedDependency2>();
	}

	protected override void Dispose(bool disposing)
	{
		base.Dispose(disposing);
		System.Diagnostics.Debug.WriteLine("Disposing MyOwningComponent");
	}
}