@inherits LayoutComponentBase

<CascadingValue Value=@UserPreferences>
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">
		<div class="top-row">
			<div class="col-6">
				<input id="ViewAnonymizedData" type="checkbox" @onchange=ViewAnonymizedDataChanged />
				<label for="ViewAnonymizedData">View anonymized data</label>
			</div>
			<div class="col-2">Date format</div>
			<div class="col-4">
				<select @onchange=DateFormatChanged>
					<option>yyyy-MM-dd</option>
					<option>dd/MM/yyyy</option>
					<option>MM/dd/yyyy</option>
					<option>MMM dd yyyy</option>
				</select>
			</div>
		</div>
		<div>
			* CascadingValue for UserPreferences is set in <em>/Shared/MainLayout.razor</em>
		</div>

		<div class="content px-4">
			@Body
		</div>
	</div>
</CascadingValue>

@code
{
	UserPreferences UserPreferences = new UserPreferences("yyyy-MM-dd", false);

	string DateFormat { get; set; } = "yyyy-MM-dd";
	bool ShowAnonymizedData { get; set; }

	public void DateFormatChanged(ChangeEventArgs e)
	{
		DateFormat = (string)e.Value;
		UserPreferences = new UserPreferences(DateFormat, ShowAnonymizedData);
	}

	public void ViewAnonymizedDataChanged(ChangeEventArgs e)
	{
		ShowAnonymizedData = (bool)e.Value;
		UserPreferences = new UserPreferences(DateFormat, ShowAnonymizedData);
	}
}
