@page "/about"
<h3>About</h3>
This project accompanies the section <strong>Capturing unexpected parameters</strong> on
<a href="https://blazor-university.com/components/capturing-unexpected-parameters/">Blazor-University.com</a>