@page "/literals"

<h3>Literals</h3>
<table class="table">
	<tr>
		<td>&lt;input size=8 /&gt;</td>
		<td><input size=8/></td>
	</tr>
	<tr>
		<td>&lt;MyHeader Text="Hello" Visible=true /&gt;</td>
		<td>
			<MyHeader Text="Hello" Visible=true />
		</td>
	</tr>
</table>
