@page "/about"
<h3>About</h3>
This project accompanies the section <strong>JavaScript boot process</strong> on
<a href="https://blazor-university.com/javascript-interop/javascript-boot-process/">Blazor-University.com</a>