@page "/about"
<h3>About</h3>
This project accompanies the section <a href="https://blazor-university.com/dependency-injection/component-scoped-dependencies/owningcomponentbase-generic/">OwningComponentBase&lt;T&gt;</a> on Blazor University