@page "/counter"
@page "/counter/{CurrentCount:int}"

<h1>Counter</h1>

<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<ul>
	<li><a href="/counter/42">Navigate to /counter/42</a></li>
	<li><a href="/counter/123">Navigate to /counter/123</a></li>
	<li><a href="/counter/">Navigate to /counter</a></li>
</ul>

@code {
	[Parameter] int CurrentCount { get; set; }

	void IncrementCount()
	{
		CurrentCount++;
	}

	public override Task SetParametersAsync(ParameterCollection parameters)
	{
		CurrentCount = 0;
		return base.SetParametersAsync(parameters);
	}

}
