@page "/"

<h1>Splatting component attributes</h1>
<NotWorking />
<MyAttributeSplattedComponent/>
<MyCustomImage
	alt="A photo of Emmet"
	width=64
	height=64
	src="https://randomuser.me/api/portraits/lego/6.jpg" />

<div
	class="row"
	role="img"
	aria-label="A photo of Emmet">
	<img
		 width="64"
		 height="64"
		 src="https://randomuser.me/api/portraits/lego/6.jpg">
</div>
