<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">NavigatingViaHtml</a>
	<button class="navbar-toggler" @onclick=ToggleNavMenu>
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class=@NavMenuCssClass @onclick=ToggleNavMenu>
	<select @bind=MatchMode class="form-control">
		<option value=@NavLinkMatch.All>All</option>
		<option value=@NavLinkMatch.Prefix>Prefix</option>
	</select>
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match=NavLinkMatch.All>
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="counter" Match=@MatchMode>
				<span class="oi oi-plus" aria-hidden="true"></span>Counter
			</NavLink>
			<ul class="nav flex-column">
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="counter/1" Match=@NavLinkMatch.All>
						<span class="oi oi-plus" aria-hidden="true"></span>Counter/1
					</NavLink>
				</li>
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="counter/2" Match=@NavLinkMatch.All>
						<span class="oi oi-plus" aria-hidden="true"></span>Counter/2
					</NavLink>
				</li>
			</ul>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="/about" Match=NavLinkMatch.All>
				<span class="oi oi-home" aria-hidden="true"></span> About
			</NavLink>
		</li>
	</ul>
</div>

@code {
	NavLinkMatch MatchMode = NavLinkMatch.All;

	bool collapseNavMenu = true;

	string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
