@page "/about"
<h3>About</h3>
This project accompanies the section <strong>Owning multiple dependencies: The right way</strong> on
<a href="https://blazor-university.com/dependency-injection/component-scoped-dependencies/owning-multiple-dependencies-the-right-way/">Blazor-University.com</a>