@page "/about"
<h3>About</h3>
This project accompanies the section <a href="https://blazor-university.com/dependency-injection/component-scoped-dependencies/owning-multiple-dependencies-the-right-way/">Owning multiple dependencies: The right way</a> on Blazor University