@inherits OwningComponentBase<IOwnedDependency>
@inject IInjectedDependency InjectedDependency

<div>
	Service.InstanceNumber = @Service.InstanceNumber
</div>
<div>
	InjectedDependency.InstanceNumber = @InjectedDependency.InstanceNumber
</div>