@page "/about"
<h3>About</h3>
This project accompanies the section <a href="https://blazor-university.com/dependency-injection/dependency-lifetimes-and-scopes/comparing-dependency-scopes/">Comparing dependency scopes</a> on Blazor University