@page "/counter"

<h1>Counter</h1>

<p>The counter value is @currentCount</p>
<MySecondComponent CurrentCounterValue=@currentCount/>

<button class="btn btn-primary" @onclick="IncrementCount">Increment counter</button>

@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}
}
