@page "/about"
<h3>About</h3>
This project accompanies the section <strong>Navigating our app via HTML</strong> on
<a href="https://blazor-university.com/routing/navigating-our-app-via-html/">Blazor-University.com</a>