@page "/about"
<h3>About</h3>
This project accompanies the section <a href="https://blazor-university.com/javascript-interop/calling-javascript-from-dotnet/passing-html-element-references/">Passing HTML element references</a> on Blazor University