@page "/"

<div>
	<input id="show-first" type="checkbox" @bind=ShowFirst /><label for="show-first">Show first</label>
	@if (ShowFirst)
	{
		<MyStandardComponent />
	}
</div>

<div>
	<input id="show-second" type="checkbox" @bind=ShowSecond /><label for="show-second">Show second</label>
	@if (ShowSecond)
	{
		<MyStandardComponent />
	}
</div>

@code
{
	bool ShowFirst;
	bool ShowSecond;
}

