@page "/"

<h1>Toggle the options</h1>
<input @bind-value=FirstOptionValue type="checkbox"/> First option
<br />
<input @bind-value=SecondOptionValue type="checkbox"/> Second option
<br />

<FirstLevelComponent FirstOption=@FirstOptionValue SecondOption=@SecondOptionValue/>

@code {
	bool FirstOptionValue;
	bool SecondOptionValue;
}