@page "/"

<h1>Toggle the options</h1>
<input @bind-value=firstOptionValue type="checkbox"/> first option
<br />
<input @bind-value=secondOptionValue type="checkbox"/> second option
<br />

<FirstLevelComponent FirstOption=@firstOptionValue SecondOption=@secondOptionValue/>

@code {
	bool firstOptionValue;
	bool secondOptionValue;
}