<div>
	CurrentCounterValue in MyFirstComponent is @CurrentCounterValue
</div>

<button @onclick=@UpdateCurrentCounterValue>Update</button>

@code {
	[Parameter]
	int CurrentCounterValue { get; set; }

	[Parameter]
	EventCallback<int> CurrentCounterValueChanged { get; set; }

	async Task UpdateCurrentCounterValue()
	{
		CurrentCounterValue++;
		await CurrentCounterValueChanged.InvokeAsync(CurrentCounterValue);
	}
}