@page "/about"
<h3>About</h3>
This project accompanies the section <strong>Optimising using @@key</strong> on
<a href="https://blazor-university.com/components/render-trees/optimising-using-key/">Blazor-University.com</a>