<div @IfYouCanSeeThisTextThenTheCodeWasNotExecutedHere />
<span>@IfYouCanSeeThisTextThenTheCodeWasNotExecutedHere</span>

@code
{
	string IfYouCanSeeThisTextThenTheCodeWasNotExecutedHere = "The code here was executed";
}
