@page "/"
@page "/greeting"
@page "/hello-world"
@page "/HelloWorld"

<h1>Hello, world!</h1>
<ol>
	<li><a href="/">Home</a></li>
	<li><a href="/greeting">greeting</a></li>
	<li><a href="/hello-world">hello-world</a></li>
	<li><a href="/HelloWorld">HelloWorld</a></li>
</ol>