@page "/about"
<h3>About</h3>
This project accompanies the section <strong>Override cascading values</strong> on
<a href="https://blazor-university.com/components/cascading-values/overriding-cascaded-values/">Blazor-University.com</a>