@page "/about"
<h3>About</h3>
This project accompanies the section <a href="https://blazor-university.com/templating-components-with-renderfragements/using-typeparam-to-create-generic-components/">Using @@typeparam to create generic components</a> on Blazor University