@page "/about"
<h3>About</h3>
This project accompanies the section <strong>Using @@typeparam to create generic components</strong> on
<a href="https://blazor-university.com/templating-components-with-renderfragements/using-typeparam-to-create-generic-components/">Blazor-University.com</a>