@page "/"

<h1>A generic list of Person</h1>
<DataList Data=@People>
	@context.Salutation @context.FamilyName, @context.GivenName
</DataList>

@code
{
	private IEnumerable<Person> People;
	protected override void OnInitialized()
	{
		base.OnInitialized();
		People = new Person[]
		{
			new Person { Salutation = "Mr", GivenName = "Bob", FamilyName = "Geldof" },
			new Person { Salutation = "Mrs", GivenName = "Angela", FamilyName = "Rippon" },
			new Person { Salutation = "Mr", GivenName = "Freddie", FamilyName = "Mercury" }
		};
	}
}